*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 40px 20px;
}

table{
    margin: 0 20px;
}

td{
    width: 100px;
    border: 1px solid black;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 10px;
}

form > *{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
}

label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 20px;
}

input{
    border: 1px solid lightgray;
    padding: 5px;
}

button{
    padding: 5px 15px;
    background-color: yellow;
    width: max-content;
    border-radius: 10px;
    border: none;
}



